// app global css in SCSS form


.sp-green {
    background: #1DB954;
}


.sp-black {
    background: #191414;
}

.custom-drawer {
    background-color: #000;
    color: #fff;
}

.style-false {
    background-color: #000;
}

.style-true {
    background-color: #191414;
}

.playlist-header {
    font-size: larger;
}

.item-image {
    width: 100px;
    height: 100px;
}

.q-item__section--thumbnail img {
    width: 100px;
    height: 100px;
}
